


.collapsible {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  
}




.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;


}


img { position:sticky 
   
   }
	   

	   



table {
	     
	     display:table;
		 padding-left:250px;
		 text-align:left;
		 border-collapse:separate; 
         border-spacing:1em;
		
      }

.darkblue {
	        color:	#0000CD;
			font-size:11pt;
          }

.lightblue {
	
	         color:#0000FF;
			 font-size:11pt;
           }

hr {
     border-color:#6495ED;
	 padding-left:300px;
	 padding-right:500px;
	 
   }

.borders {
	
    border-collapse: collapse;
    border: 1px solid #6495ED;
	width: 100%;
	border-left:none;
	border-right:none;
	text-align:center;

        }


	      





































